<div class="space-y-4">

    <button *ngIf="podeTirarTimes()" class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg text-white"
        (click)="mostrarPainelTimes = !mostrarPainelTimes">

        {{ mostrarPainelTimes ? 'Fechar' : 'Montar Times' }}

    </button>

    <app-montar-times *ngIf="mostrarPainelTimes" [rodadaId]="rodada.id!" [participantes]="participantesParaTimes"
        (timesCriados)="onTimesCriados()">
    </app-montar-times>

    <app-times-montados *ngIf="timesRodada.length > 0" [times]="timesRodada" [obterNomeTime]="obterNomeTime"
        [obterNomeParticipante]="obterNomeParticipante">
    </app-times-montados>

</div>