<div class="min-h-screen bg-gray-900 text-gray-100 p-6">
  <div class="max-w-4xl mx-auto bg-gray-800 rounded-lg shadow-lg p-6">
    <h1 class="text-2xl font-bold mb-4">Participantes</h1>

    <button
      class="mb-4 bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2 rounded"
      (click)="novoParticipante()"
    >
      Novo Participante
    </button>

    <table class="w-full table-auto border-collapse bg-gray-700">
      <thead class="bg-gray-600">
        <tr>          
          <th class="px-4 py-2 text-left">Nome</th>
          <th class="px-4 py-2 text-left">Apelido</th>
          <!-- <th class="px-4 py-2 text-left">Data Cadastro</th> -->
          <th class="px-4 py-2 text-left">Telefone</th>
          <th class="px-4 py-2 text-left">Posição Preferida</th>
          <th class="px-4 py-2 text-left">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="participantes.length > 0; else semParticipantes">
        <tr *ngFor="let p of participantes" class="border-b border-gray-600 hover:bg-gray-700">          
          <td class="px-4 py-2">{{ p.nome }}</td>
          <td class="px-4 py-2">{{ p.apelido }}</td>
          <!-- <td class="px-4 py-2">{{ p.dataCadastro }}</td> -->
          <td class="px-4 py-2">{{ p.telefone | telefone }}</td>
          <td class="px-4 py-2">{{ p.posicaoPreferida?.nome}}</td>
          <td class="px-4 py-2 space-x-2">
            <button (click)="editar(p.id)" class="p-1 rounded hover:bg-gray-600">
    <i class="bx bx-edit text-gray-400 text-lg hover:text-gray-500"></i>
  </button>

  <button (click)="inativar(p.id)" class="p-1 rounded hover:bg-red-700">
    <i class="bx bx-trash text-red-500 text-lg hover:text-red-600"></i>
  </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #semParticipantes>
      <p class="text-gray-400 mt-4">Nenhum participante cadastrado.</p>
    </ng-template>
  </div>
</div>
