.mat-form-field-wrapper {
  padding: 0;   /* remove padding extra */
  margin: 0;    /* remove margin extra */
}

.tailwind-font {
  font-family: inherit !important;
  font-weight: normal !important;
  line-height: 1.5 !important;
}

body {
  -webkit-font-smoothing: antialiased; /* Chrome, Safari, Edge */
  -moz-osx-font-smoothing: grayscale;  /* Firefox */
  text-rendering: optimizeLegibility;
  font-family: 'Inter', sans-serif;   /* se Tailwind usa Inter */
  font-weight: normal;                 /* padrão para todo o app */
}

